@import "colors.css";

* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font Propo";
}

tooltip {
  background-color: @bg1;
  color: @fg;
  padding: 10px;
  margin: 10px;
  border-radius: 12px;
}


.modules-left,
.modules-center,
.modules-right{
  background-color: @bg1;
  border-radius: 8px;
  padding: 0px 12px;
  color: @fg
}

#clock {
 font-weight: 600;
}

#workspaces {
}

#workspaces button {
 border-radius: 99px;
 margin: 8px 4px;
 padding: 0px 8px;
}


#workspaces button.empty {
 color: @grey0;
}

#workspaces button.active {
 background-color: @green;
 color: @bg1;
 font-weight: 500;
}

#network {
  padding: 0px 12px;
}
#cpu {
 padding: 0px 12px;

}

#memory {
 padding: 0px 12px;
}

#wireplumber {
}

