@define-color background #101315;
@define-color foreground #cacccc;
 
* {
  background-color: alpha(@background, 0.9);
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'FiraCode Nerd Font Propo';
  font-size: 16px;
  border: 0px solid alpha(@foreground, 0.6)
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces {
  transition: all 150ms ease-in-out;
}

#workspaces button {
  all: initial;
  transition: all 90ms ease-in-out;  
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  border-radius: 0px;
  border: 0px solid alpha(@foreground, 0.64);
  border-bottom-width: 2px;
}

#workspaces button.empty {
  transition: all 90ms ease-in-out;
  opacity: 0.5;
}

#workspaces button.active {
  transition: all 90ms ease-in-out;
  border-radius: 0px;
  border: 0px solid alpha(@foreground, 0.64);
  border-bottom-width: 4px;
}
#memory.warning {
    color: yellow;
}

#memory.high {
    color: orange;
}

#memory.critical {
    color: red;
}

#cpu.warning {
    color: yellow;
}

#cpu.high {
    color: orange;
}

#cpu.critical {
    color: red;
}

#pulseaudio {
  margin-right: 4px;
  margin-left: 1px;
}

#tray {
  margin-right: 4px;
}

#bluetooth {
  margin-right: 2px;
}

#network {
  margin-right: 10px;
  margin-left: 6px;
}

#custom-expand-icon {
  margin-right: 10px;
}

tooltip {
  padding: 2px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#mpris {
    font-weight: 600;
    border-radius: 16px;
    padding: 0px 5px;
    margin: 3.5 3.5px;
}
